.body-projects{
background: linear-gradient(-90deg, #06345f, #00162a);;
text-align: center;
height: 200vh;
display: flex;
flex-direction: column;
}
.title-projects{
  font-size: 3.5rem;
  color: #fffb00;
  font-weight: 700;
  font-family: "Oswald";
  padding-bottom:50px ;
}

.project-link{
  color: aliceblue;
  margin: 20px;
  font-size: 38px;

}