span{
    font-family: "Ubuntu";
}
.about-me-text{
font-weight: 800;
font-size: 3.4rem;
text-decoration: underline;
letter-spacing: 2px;
text-align: center;

}
.why-text-sub{
    font-weight:700;
    font-size: 1rem;
    opacity: 0.8;
    text-transform: capitalize;
    text-align: center;
}

.aboutme-inside{
    width: 70%;
    margin-inline:auto;
}
.some-text-about-me{
    font-weight: 600;
    font-size: 1.2rem;
    opacity: 0.8;
    text-align: justify;

}
.few-highlights{
    padding-block:12px ;
}
.few-text{
    font-weight: 900;
    font-size: 1.5rem;
   
    
}
.few-list{
    font-size: 1.2rem;

}